//baseWidth
//$baseWidth1:1000px;

// Breakpoint
//$breakpoint1:767px;
//$breakpoint2:480px;

// Common Colors
$color1:#fff;
$color2:#640000;
$color3:#f2f1d8;
$color4:#a50000;

// link color
//$link:#000;
//$hover:#000;
//$active:#000;
//$visited:#000;
$font-second:"游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;