@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*------------------------------------------------------------
header
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
#header {
  /*
------------------------------------------------------------*/
  background: #640000;
  /*
------------------------------------------------------------*/
}

#header .c-header1 {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid #7a0000;
  padding: 8px 0;
}

#header .c-header2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 0;
  line-height: 39px;
}

#header .c-header2__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .c-header2__right .header2-contact-text {
  font-size: 1.4rem;
  color: #fff;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

#header .c-gnav {
  background: #b20000;
  border-bottom: 4px solid #cdb140;
}

#header .c-gnav .header-menu {
  *zoom: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .c-gnav .header-menu:after {
  display: block;
  content: "";
  clear: both;
}

#header .c-gnav .header-menu__item:last-child {
  border-right: 1px solid #750000;
}

#header .c-gnav .header-menu__item {
  border-left: 1px solid #750000;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 14px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header .c-gnav .header-menu__item #center-a {
  line-height: 30px;
}

#header .c-gnav .header-menu__item a {
  color: #f2f1d9;
  display: block;
  font-size: 1.4rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  height: 100%;
  line-height: 15px;
}

#header .c-gnav .header-menu__item a img {
  vertical-align: middle;
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
#footer {
  /*
------------------------------------------------------------*/
  background: url(../../assets/image/common/bg-footer.png) repeat center top;
  position: relative;
  /*
------------------------------------------------------------*/
}

#footer .c-footer1 {
  border-bottom: 1px solid #ddd;
}

#footer .c-footer1 .menu-footer {
  padding: 27px 0;
}

#footer .c-footer1 .menu-footer li:last-child {
  border-right: 0px;
}

#footer .c-footer1 .menu-footer li {
  display: inline-block;
  border-right: 1px solid #fff;
  padding: 0px 10px;
  line-height: 100%;
}

#footer .c-footer1 .menu-footer li a {
  color: #fff;
  font-size: 1.4rem;
}

#footer .c-footer2 {
  padding: 56px 0px 52px 0px;
}

#footer .c-footer2 .c-footer2-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .c-footer2 .c-footer2-content .footer-info {
  color: #fff;
  font-size: 1.4rem;
}

#footer .c-footer2 .c-footer2-content .footer-info__title:before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #fff;
  display: inline-block;
  margin: 0px 3px 3px 0px;
}

#footer .c-footer2 .c-footer2-content .footer-info__title {
  font-weight: bold;
}

#footer .c-footer3 {
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  background-color: #640000;
  padding: 14px 0px;
}

/*------------------------------------------------------------
side
------------------------------------------------------------*/
/*------------------------------------------------------------
layout
------------------------------------------------------------*/
body {
  min-width: 970px;
}

.l-container {
  width: 950px;
  margin: 0 auto;
}

.l-flame2 {
  padding: 70px 0;
}

.l-flame1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-flame1__left {
  width: 64%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 1%;
}

.l-flame1__left p {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.l-flame1__right {
  width: 36%;
  text-align: right;
}

/*------------------------------------------------------------
title
------------------------------------------------------------*/
.c-maintitle1--new {
  background: #512121 url(../../assets/image/common/banner-notice.png) no-repeat top center;
}

.c-maintitle1 {
  height: 260px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-maintitle1 h2 {
  color: #f2f1d8;
  font-size: 3.6rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-weight: normal;
  line-height: 1.3;
}

.c-maintitle1 h2 span {
  display: block;
  font-size: 1.8rem;
}

.c-title1 {
  font-size: 3.4rem;
  color: #640000;
  text-align: center;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-weight: bold;
  display: inline-block;
  margin-right: 25px;
}

.c-title1 span {
  color: #a50000;
  font-size: 2rem;
  display: block;
}

.c-title2 {
  font-size: 2.201rem;
  color: #640000;
  border-top: 1px solid #a50000;
  border-bottom: 1px solid #a50000;
  padding: 36px 0px 33px 0px;
}

.c-title3 {
  border-top: 1px solid #a50000;
  border-bottom: 1px solid #a50000;
  text-align: center;
  font-size: 2.4rem;
  color: #640000;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  padding: 30px 0px 33px 0px;
  font-weight: bold;
}

.c-title3 img {
  vertical-align: sub;
  margin-right: 18px;
  max-width: 100%;
  height: auto;
}

.c-title4 {
  font-size: 3.4rem;
  color: #640000;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  text-align: center;
  font-weight: bold;
}

.c-title5 {
  font-size: 2.2rem;
  color: #640000;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  margin-top: 50px;
  margin-bottom: 27px;
}

.c-title5 img {
  vertical-align: baseline;
}

.c-title6 {
  font-size: 1.6rem;
  color: #a50000;
  font-weight: bold;
}

.c-title7 {
  font-size: 1.4rem;
  color: #a50000;
  font-weight: bold;
}

.c-title100 {
  *zoom: 1;
  position: relative;
  text-align: center;
}

.c-title100:after {
  display: block;
  content: "";
  clear: both;
}

/*------------------------------------------------------------
table
------------------------------------------------------------*/
.c-table1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #ceceb7;
  margin-top: 40px;
  font-size: 1.4rem;
}

.c-table1 dt {
  width: 25%;
  border-top: 1px solid #ceceb7;
  font-weight: bold;
  padding: 18px 20px;
  background: #dfdfd0;
}

.c-table1 dd {
  width: 75%;
  border-top: 1px solid #ceceb7;
  padding: 18px 20px;
}

.c-table1--color2 dt {
  background: #fff;
}

/*------------------------------------------------------------
btn
------------------------------------------------------------*/
.c-btn1 {
  background: #2f4f92;
  border: 0px;
  border-radius: 1px;
  padding: 11px 46px;
  display: inline-block;
  position: absolute;
}

.c-btn1 a {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  font-family: "Times New Roman";
  font-weight: normal;
}

/*------------------------------------------------------------
list
------------------------------------------------------------*/
.c-list1 {
  margin: 28px 0px;
}

.c-list1 p {
  font-size: 1.4rem;
}

.c-list1 p img {
  margin-right: 5px;
  vertical-align: baseline;
}

.c-list2 li:before {
  content: url(../../assets/image/common/icon-list.png);
  padding: 0px 19px 0px 14px;
}

.c-list2 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  border-bottom: 1px solid #bbbbbb;
  padding: 35px 0px;
}

.c-list2__date {
  margin-right: 26px;
  color: #a50000;
}

/*------------------------------------------------------------
entry
------------------------------------------------------------*/
.c-entry1 {
  *zoom: 1;
}

.c-entry1:after {
  display: block;
  content: "";
  clear: both;
}

.c-entry1__text {
  float: left;
  width: 60%;
  height: 230px;
  padding: 5px;
  font-size: 1.4rem;
}

.c-entry1__img {
  float: right;
  width: 30%;
  height: 215px;
  background-color: #e5e5d9;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-entry1__img p {
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
}

/*------------------------------------------------------------
navi
------------------------------------------------------------*/
.c-breadcrumbs {
  background: #dfdfd0;
  padding: 10px;
}

.c-path li:last-child:before {
  content: ">";
  padding: 0px 5px;
}

.c-path li {
  display: inline-block;
  color: #333;
  font-size: 1.2rem;
}

.c-path li a {
  text-decoration: underline;
  color: #a50000;
}

.c-nav1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-nav1 li:last-child {
  margin-right: 0;
}

.c-nav1 li {
  max-width: 220px;
  width: 100%;
  border: 1px solid #dfdfd0;
  text-align: center;
  margin-right: 24px;
  background: url(../../assets/image/company/item-company.png) no-repeat right 1px bottom 1px;
}

.c-nav1 li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #2b0000;
  display: block;
  padding: 23px 0px 20px 0px;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

.c-nav2 {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin-top: 48px;
}

.c-nav2 p:nth-child(odd) {
  margin-bottom: 30px;
}

/*------------------------------------------------------------
side
------------------------------------------------------------*/
/*------------------------------------------------------------
other
------------------------------------------------------------*/
.c-mainvisual {
  text-align: center;
  background: #512121;
}

.c-mainvisual img {
  max-width: 100%;
  height: auto;
}

.c-info1 {
  font-size: 1.4rem;
  background-color: #dfdfd0;
  max-width: 538px;
  padding: 22px 0px 26px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-info1__title {
  color: #a50000;
  font-weight: bold;
}

.c-info1__list li:before {
  height: 4px;
  width: 4px;
  background: #a50000;
  display: inline-block;
  margin: 0 8px 4px 0;
  content: "";
}

.c-info2 {
  font-size: 1.4rem;
  padding: 24px 0px 24px 18px;
  background-color: #dfdfd0;
  max-width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-info2 span {
  display: block;
  font-weight: bold;
}

.c-info2--color2 {
  background-color: #fff;
}

.c-info3 {
  border: 1px solid #cdcbaf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 42px 54px 37px 54px;
}

.c-info3__left {
  width: 60%;
}

.c-info3__left img {
  background: #fff;
  padding: 20px 30px;
}

.c-info3__left .c-info3__left-text1 {
  font-size: 2rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

.c-info3__left .c-info3__left-text2 {
  font-size: 1.6rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  line-height: 3.1;
}

.c-info3__right {
  width: 40%;
  border-left: 1px solid #ceccae;
  padding-left: 35px;
}

.c-info3__right ul li {
  padding: 8px 0px;
}

.c-info3__right ul li a {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  color: #640000;
  font-weight: bold;
  font-size: 1.4rem;
}

.c-info3__right ul li a span {
  width: 35px;
  margin-right: 7px;
  text-align: center;
  display: inline-block;
}

.c-map1 iframe {
  width: 100%;
  height: 420px;
}

.c-map1-detail {
  text-decoration: underline;
  color: #0000ff;
  font-size: 1.4rem;
}

.map-note {
  font-size: 1.4rem;
}

.c-mapBlock {
  margin-top: 50px;
}

.c-gotop {
  width: 60px;
  height: 60px;
  background-color: #b20000;
  border-radius: 100%;
  border: 0px;
  position: fixed;
  right: 50px;
}

.c-text1 {
  font-size: 1.395rem;
  margin-top: 50px;
}

/*------------------------------------------------------------
top
------------------------------------------------------------*/
.p-top2 {
  padding: 50px 0px;
}

.p-top3 {
  text-align: center;
  padding: 70px 0px;
}

.p-top4 {
  padding: 65px 0px;
}

/*------------------------------------------------------------
new
------------------------------------------------------------*/
.c-maintitle1--companny {
  background: #512121 url(../../assets/image/company/banner-notice.png) no-repeat top center;
}

.p-news1 section:first-child {
  margin-top: 49px;
}

.p-news1 section:last-child {
  margin-bottom: 70px;
}

.p-news1 section {
  margin-top: 70px;
}

.p-news1 .c-title7 {
  margin-top: 15px;
  text-align: right;
}

.p-news1 .c-entry1 {
  margin-top: 26px;
}

/*------------------------------------------------------------
teamsakata
------------------------------------------------------------*/
.c-maintitle1--teamsakata {
  background: #512121 url(../../assets/image/teamsakata/banner-teamsakata.png) no-repeat top center;
}

.p-teamsakata1 {
  padding-top: 48px;
  padding-bottom: 70px;
}

.box-image-teamsakata {
  margin-top: 40px;
}

/*------------------------------------------------------------
shien
------------------------------------------------------------*/
.c-maintitle1--shien {
  background: #512121 url(../../assets/image/shien/banner-shien.png) no-repeat top center;
}

/*------------------------------------------------------------
teamshien
------------------------------------------------------------*/
.c-maintitle1--teamshien {
  background: #512121 url(../../assets/image/teamshien/banner-teamshien.png) no-repeat top center;
}

.p-teamshien7__content {
  font-size: 1.4rem;
}

.p-teamshien7__content p:first-child {
  padding-top: 49px;
  padding-bottom: 29px;
}

/*------------------------------------------------------------
sakura
------------------------------------------------------------*/
.c-maintitle1--sakura {
  background: #512121 url(../../assets/image/sakura/banner-sakura.png) no-repeat top center;
}

.p-sakura1 {
  padding-top: 50px;
  padding-bottom: 70px;
}

.p-sakura2 {
  padding-top: 50px;
  padding-bottom: 70px;
}

/*------------------------------------------------------------
company
------------------------------------------------------------*/
.c-maintitle1--companny {
  background: #512121 url(../../assets/image/company/banner-company.png) no-repeat top center;
}

.p-company1 {
  padding-top: 50px;
  padding-bottom: 58px;
}

.p-company2 section {
  margin-bottom: 77px;
}

/*------------------------------------------------------------
for develop browser-sync
------------------------------------------------------------*/
#__bs_notify__ {
  opacity: 0.3 !important;
  font-size: 5px !important;
  line-height: 100% !important;
  padding: 0 5px 0 5px !important;
  border-radius: 0 !important;
}

.u-bg1 {
  background: url(../../assets/image/common/bg1.gif) repeat center top;
}

.u-bg2 {
  background: url(../../assets/image/common/bg2.png) repeat center top;
}
