@charset "UTF-8";
@import "0_base/vars";	// variable
@import "0_base/mixin"; // function

/*------------------------------------------------------------
footer
------------------------------------------------------------*/

#footer{
/*
------------------------------------------------------------*/
	background:url(../../assets/image/common/bg-footer.png) repeat center top;
	position: relative;
/* footer1
------------------------------------------------------------*/
	.c-footer1{
		border-bottom: 1px solid #ddd;
//menu-footer
//---------------------------------------------------------------------
		.menu-footer{
			padding: 27px 0;
			li:last-child{
				border-right:0px;
			}
			li{
				display:inline-block;
				border-right: 1px solid #fff;
				padding: 0px 10px;
				line-height: 100%;
				a{
					color: #fff;
					@include fs(14);
				}
			}
		}
	}

/* footer2
------------------------------------------------------------*/
	.c-footer2{
		padding: 56px 0px 52px 0px;
		.c-footer2-content{
			display: flex;
			justify-content: space-between;
			.footer-info{
				color: #fff;
				@include fs(14);
//footer2-title
//--------------------------------------------------------------
				&__title:before{
					content: "";
					width: 5px;
					height: 5px;
					background-color: #fff;
					display: inline-block;
					margin: 0px 3px 3px 0px;
				}
				&__title{
					font-weight: bold;
				}
			}
		}
	}

/* footer3
------------------------------------------------------------*/
	.c-footer3{
		text-align: center;
		@include fs(12);
		color: #fff;
		background-color: #640000;
		padding: 14px 0px;
	}
/*
------------------------------------------------------------*/
}




