@charset "UTF-8";
@import "0_base/vars";	// variable
@import "0_base/mixin"; // function
/*------------------------------------------------------------
header
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
#header{
/*
------------------------------------------------------------*/
	background: #640000;
/* header1
------------------------------------------------------------*/
	.c-header1{
		@include fs(12);
		color: rgba(255, 255, 255, 0.5);
	    border-bottom: 1px solid #7a0000;
	 	padding: 8px 0;
	}

/* header2
------------------------------------------------------------*/
	.c-header2{
		display: flex;
		justify-content: space-between;
		padding: 18px 0;
		line-height: 39px;
//header2-left
//------------------------------------------------------------
		&__left{

		}
//header2-right
//------------------------------------------------------------	
		&__right{
			display: flex;
			.header2-contact-text{
				@include fs(14);
				color: #fff;
				font-family: $font-second;
			}
		}
	}

/*gnav
------------------------------------------------------------*/
	.c-gnav{
		background:#b20000;
		border-bottom: 4px solid #cdb140;
/*header-menu
------------------------------------------------------------*/
		.header-menu{
			@include clear;
			text-align: center;
			display: flex;
//header-menu-last-child
//------------------------------------------------------------	
			&__item:last-child{
				border-right: 1px solid #750000;
			}
//header-menu
//------------------------------------------------------------	
			&__item{
					border-left: 1px solid #750000;
					flex:1 1 auto;
					padding: 14px 0px;
					justify-content: center;
				#center-a{
					line-height: 30px;
				}
				a{
					color: #f2f1d9;
					display: block;
					@include fs(14);
					font-family: $font-second;
					height: 100%;
					line-height: 15px;
					img{
						vertical-align: middle;
					}
				}
				a:hover{
					
				}
			}
		}
	}
/*
------------------------------------------------------------*/
}



