@charset "UTF-8";
/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/* body
------------------------------------------------------------*/
body{
	min-width: 970px;
}
/* container
------------------------------------------------------------*/
.l-container{
	width: 950px;
	margin: 0 auto;
}
/* flame2
------------------------------------------------------------*/
.l-flame2{
	padding: 70px 0;
}
/* flame1
------------------------------------------------------------*/
.l-flame1{
	display: flex;
	&__left{
		width: 64%;
		box-sizing:border-box;
		padding-right: 1%;
		p{
			@include fs(14);
			margin-bottom: 20px;
		}

	}
	&__right{
		width: 36%;
		text-align: right;
	}
}