@charset "UTF-8";
@import "0_base/vars";	// variable
@import "0_base/mixin"; // function
/*------------------------------------------------------------
company
------------------------------------------------------------*/


//c-maintitle--company
//---------------------------------------------------------------------------
.c-maintitle1--companny{
	background: #512121 url(../../assets/image/company/banner-company.png) no-repeat top center;
}

//p-company1
//---------------------------------------------------------------------------
.p-company1{
	padding-top: 50px;
	padding-bottom: 58px;
}

//p-company2
//---------------------------------------------------------------------------
.p-company2{
	section{
		margin-bottom: 77px;
	}
}