@charset "UTF-8";
@import "0_base/vars";	// variable
@import "0_base/mixin"; // function
/*------------------------------------------------------------
new
------------------------------------------------------------*/


//c-maintitle1--companny
//---------------------------------------------------------------------------
.c-maintitle1--companny{
	background: #512121 url(../../assets/image/company/banner-notice.png) no-repeat top center;
}

//p-news1
//---------------------------------------------------------------------------
.p-news1{
	section:first-child{
		margin-top: 49px;
	}
	section:last-child{
		margin-bottom: 70px;
	}
	section{
		margin-top: 70px;
	}
	.c-title2{
	}
	.c-title7{
		margin-top: 15px;
		text-align: right;
	}
	.c-entry1{
		margin-top: 26px;
	}
}
