@charset "UTF-8";
@import "0_base/vars";	// variable
@import "0_base/mixin"; // function
/*------------------------------------------------------------
sakura
------------------------------------------------------------*/


//c-maintitle1--sakura
//---------------------------------------------------------------------------
.c-maintitle1--sakura{
	background: #512121 url(../../assets/image/sakura/banner-sakura.png) no-repeat top center;
}

//p-sakura1
//---------------------------------------------------------------------------
.p-sakura1{
	padding-top: 50px;
	padding-bottom: 70px;
}

//p-sakura2
//---------------------------------------------------------------------------
.p-sakura2{
	padding-top: 50px;
	padding-bottom: 70px;
}