@charset "UTF-8";
@import "0_base/vars";	// variable
@import "0_base/mixin"; // function
/*------------------------------------------------------------
teamshien
------------------------------------------------------------*/


//c-maintitle1--teamshien
//---------------------------------------------------------------------------
.c-maintitle1--teamshien{
	background: #512121 url(../../assets/image/teamshien/banner-teamshien.png) no-repeat top center;
}

//p-teamshien7__content
//---------------------------------------------------------------------------
.p-teamshien7__content{
	@include fs(14);
	p:first-child{
		padding-top: 49px;
		padding-bottom: 29px;
	}
}