@charset "UTF-8";
@import "0_base/vars";	// variable
@import "0_base/mixin"; // function
/*------------------------------------------------------------
teamsakata
------------------------------------------------------------*/


//c-maintitle1--teamsakata
//---------------------------------------------------------------------------
.c-maintitle1--teamsakata{
	background: #512121 url(../../assets/image/teamsakata/banner-teamsakata.png) no-repeat top center;
}

//p-teamsakata1
//---------------------------------------------------------------------------
.p-teamsakata1{
	padding-top: 48px;
	padding-bottom: 70px;
}

//box-image-teamsakata
//---------------------------------------------------------------------------
.box-image-teamsakata{
	margin-top: 40px;
}
