@charset "UTF-8";
@import "0_base/vars";	// variable
@import "0_base/mixin"; // function
/*------------------------------------------------------------
top
------------------------------------------------------------*/


//p-top2
//---------------------------------------------------------------------------
.p-top2{
	padding: 50px 0px;
}

//p-top3
//---------------------------------------------------------------------------
.p-top3{
	text-align: center;
	padding: 70px 0px;
}

//p-top4
//---------------------------------------------------------------------------
.p-top4{
	padding: 65px 0px;
}