@charset "UTF-8";
@import "0_base/vars";	// variable
@import "0_base/mixin"; // function
/*------------------------------------------------------------
btn
------------------------------------------------------------*/


/* btn1
------------------------------------------------------------*/
.c-btn1{
		
    	background: #2f4f92;
    	border:0px;
    	border-radius: 1px;
    	padding: 11px 46px;
    	display: inline-block;
    	position: absolute;
		a{
			text-decoration: none;
		    @include fs(20);
		    color: #fff;
		    font-family: "Times New Roman";
		    font-weight: normal;
		}
	}
