@charset "UTF-8";
@import "0_base/vars";	// variable
@import "0_base/mixin"; // function
/*------------------------------------------------------------
entry
------------------------------------------------------------*/


/* entry1
------------------------------------------------------------*/
.c-entry1{
	@include clear;
	&__text{
		float: left;
		width: 60%;
		height: 230px;
		padding: 5px;
		@include fs(14);
	}
	&__img{
		float: right;
		width: 30%;
		height: 215px;
		background-color: #e5e5d9;
		padding: 5px;
		display: flex;
	    justify-content: center;
	    align-items: center;
		p{
			font-size: 1.6rem;
		    font-weight: bold;
		    color: #fff;
		}
	}
}