@charset "UTF-8";
@import "0_base/vars";	// variable
@import "0_base/mixin"; // function
/*------------------------------------------------------------
list
------------------------------------------------------------*/


/* list1
------------------------------------------------------------*/
.c-list1{
	margin: 28px 0px;
	p{
		@include fs(14);
		img{
			margin-right: 5px;
			vertical-align: baseline;
		}
	}
}

/* list2
------------------------------------------------------------*/
.c-list2{
	li:before{
		content: url(../../assets/image/common/icon-list.png);
		padding: 0px 19px 0px 14px;
	}
	li{
		display: flex;
		@include fs(14);
		border-bottom: 1px solid #bbbbbb;
		padding: 35px 0px;
	}
	&__date{
		margin-right: 26px;
		color: $color4;
	}
}