@charset "UTF-8";
@import "0_base/vars";	// variable
@import "0_base/mixin"; // function
/*------------------------------------------------------------
navi
------------------------------------------------------------*/


/* breadcrumbs
------------------------------------------------------------*/
.c-breadcrumbs{
	background:#dfdfd0;
	padding: 10px;
}

/* path
------------------------------------------------------------*/
.c-path{
	li:last-child:before{
			content: ">";
			padding: 0px 5px;
		}
	li{
		display: inline-block;
		color: #333;
		@include fs(12);
		a{
			text-decoration: underline;
			color: #a50000;
		}
	}
}

/* nav1
------------------------------------------------------------*/
.c-nav1{
	display: flex;
	li:last-child{
		margin-right: 0;
	}
	li{
		max-width: 220px;
		width: 100%;
		border:1px solid #dfdfd0;
		text-align: center;
		margin-right: 24px;
		background: url(../../assets/image/company/item-company.png) no-repeat right 1px bottom 1px;
		a{
			text-decoration: none;
			@include fs(14);
			color: #2b0000;
			display: block;
			padding: 23px 0px 20px 0px;
			font-family: $font-second;
		}
	}
}

/* nav2
------------------------------------------------------------*/
.c-nav2{
	column-count: 2;
    column-gap: 30px;
    margin-top: 48px;
    p:nth-child(odd){
    	margin-bottom: 30px;
    }
}