@charset "UTF-8";
@import "0_base/vars";	// variable
@import "0_base/mixin"; // function
/*------------------------------------------------------------
other
------------------------------------------------------------*/


/* mainvisual
------------------------------------------------------------*/
.c-mainvisual{
	text-align: center;
	background: #512121;
	img{
		max-width: 100%;
		height: auto;
	}
}

/* info1
------------------------------------------------------------*/
.c-info1{
	@include fs(14);
	background-color: #dfdfd0;
	max-width: 538px;
	padding: 22px 0px 26px 25px;
	box-sizing:border-box;
	&__title{
		color: $color4;
		font-weight: bold;
	}
	&__list{
		li:before{
			    height: 4px;
			    width: 4px;
			    background: #a50000;
			    display: inline-block;
			    margin: 0 8px 4px 0;
			    content: "";
		}
	}
}

/* info2
------------------------------------------------------------*/
.c-info2{
	@include fs(14);
	padding: 24px 0px 24px 18px;
	background-color: #dfdfd0;
	max-width: 360px;
	box-sizing:border-box;
	span{
		display: block;
		font-weight: bold;
	}
}

/* info2--color2
------------------------------------------------------------*/
.c-info2--color2{
	background-color: #fff;
}

/* info3
------------------------------------------------------------*/
.c-info3{
	border:1px solid #cdcbaf;
	display: flex;
	padding: 42px 54px 37px 54px;
	&__left{
		width: 60%;
		img{
		    background: #fff;
    		padding: 20px 30px;
		}
		.c-info3__left-text1{
			@include fs(20);
			font-family: $font-second;
		}
		.c-info3__left-text2{
			@include fs(16);
			font-family: $font-second;
			line-height: 3.1;
		}
	}
	&__right{
		width: 40%;
		border-left: 1px solid #ceccae;
    	padding-left: 35px;
    	ul{
    		li{
    			padding: 8px 0px;
    			a{
    				font-family: $font-second;
				    color: #640000;
				    font-weight: bold;
				    @include fs(14);
    				span{
		    			width: 35px;
		    			margin-right: 7px;
		    			text-align: center;
		    			display: inline-block;
		    		}
    			}
    		}
    		
    	}
	}
}

/* map1
------------------------------------------------------------*/
.c-map1{
	iframe{
		    width: 100%;
    	height: 420px;
	}
}

/* map1-detail
------------------------------------------------------------*/
.c-map1-detail{
	text-decoration: underline;
	color: #0000ff;
	@include fs(14);
}

/* map-note
------------------------------------------------------------*/
.map-note{
	@include fs(14);
}

/* mapBlock
------------------------------------------------------------*/
.c-mapBlock{
	margin-top: 50px;
}

/* gotop
------------------------------------------------------------*/
.c-gotop{
	width: 60px;
	height: 60px;
	background-color: #b20000;
	border-radius: 100%;
	border:0px;
	position: fixed;
	right: 50px;
}

/* text1
------------------------------------------------------------*/
.c-text1{
	@include fs(13.95);
	margin-top: 50px;
}