@charset "UTF-8";
@import "0_base/vars";	// variable
@import "0_base/mixin"; // function
/*------------------------------------------------------------
table
------------------------------------------------------------*/

/* 1
------------------------------------------------------------*/
.c-table1{
	display: flex;
	flex-wrap:wrap;
	border-bottom: 1px solid #ceceb7;
    margin-top: 40px;
    @include fs(14);
    dt{
    	width: 25%;
	    border-top: 1px solid #ceceb7;
	    font-weight: bold;
	    padding: 18px 20px;
	    background: #dfdfd0;
    }
    dd{
    	 width: 75%;
	    border-top: 1px solid #ceceb7;
	    padding: 18px 20px;
    }
}

/* 1 color2
------------------------------------------------------------*/
.c-table1--color2{
	dt{
		background: #fff;
	}
}