@charset "UTF-8";
@import "0_base/vars";	// variable
@import "0_base/mixin"; // function
/*------------------------------------------------------------
title
------------------------------------------------------------*/

/* maintitle1 new
------------------------------------------------------------*/
.c-maintitle1--new{
	background: #512121 url(../../assets/image/common/banner-notice.png) no-repeat top center;
}
/* maintitle1
------------------------------------------------------------*/
.c-maintitle1{
	
	height: 260px;
	text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;
	h2{
		color: $color3;
		@include fs(36);
		font-family: $font-second;
		font-weight: normal;
		line-height: 1.3;
		span{
			display: block;
			@include fs(18);
		}
	}

}
/* 1
------------------------------------------------------------*/
.c-title1{
	@include fs(34);
	color: $color2;
	text-align: center;
	font-family: $font-second;
	font-weight: bold;
	display: inline-block;
	margin-right: 25px;
	span{
		color: $color4;
		@include fs(20);
		display: block;
	}
}

/* 2
------------------------------------------------------------*/
.c-title2{
	@include fs(22.01);
	color: $color2;
	border-top:1px solid #a50000;
	border-bottom:1px solid #a50000;
	padding: 36px 0px 33px 0px;
}

/* 3
------------------------------------------------------------*/
.c-title3{
	border-top:1px solid #a50000;
	border-bottom:1px solid #a50000;
	text-align: center;
	@include fs(24);
	color:$color2;
	font-family: $font-second;
	padding: 30px 0px 33px 0px;
	font-weight: bold;
	img{
		vertical-align: sub;
		margin-right: 18px;
		max-width: 100%;
		height: auto;
	}
}

/* 4
------------------------------------------------------------*/
.c-title4{
	@include fs(34);
	color: $color2;
	font-family: $font-second;
	text-align: center;
	font-weight: bold;
}

/* 5
------------------------------------------------------------*/
.c-title5{
	@include fs(22);
	color: $color2;
	font-family: $font-second;
	margin-top: 50px;
    margin-bottom: 27px;
	img{
		vertical-align: baseline;
	}
}

/* 6
------------------------------------------------------------*/
.c-title6{
	@include fs(16);
	color: $color4;
	font-weight: bold;
}

/* 7
------------------------------------------------------------*/
.c-title7{
	@include fs(14);
	color: $color4;
	font-weight: bold;
}

/* 100
------------------------------------------------------------*/
.c-title100{
	@include clear;
	position: relative;
	text-align: center;
}